.pic{
    border-radius: 50%;
}
.CompanyIcon{
    border-radius: 30%;
    width: 350px;
    height: auto;
}

.copyright {
    font-size: 14px;
    color: rgb(27, 126, 207);
    margin: auto;
    font-family: Arial;
}

.text-h-center {
    text-align: center;
  }
  
  /* 文字垂直置中 */
  .text-v-center {
    vertical-align: top;
  }
  .text-v-center:before {
    content: "";
    display: inline-block;
    width: 0;
    height: 100%;
    vertical-align: middle;
  }
  .text-v-center p {
    display: inline-block;
  }
  
  
  body {
    margin: 0;
    padding: 10px;
  }
  .section {
    display: inline-block;
    height: 200px;
    margin: 0;
    width: 32%;
    border: 1px solid #000;
  }

  .btn {
    margin-left:60px;
    margin-bottom: 16px;
    width: auto;
    padding: 20px 20px;
    font-size: 32px;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    text-decoration: none !important;
    border-radius: 10%;
  }
  .default {
    border-color: #e7e7e7;
    color: black;
  }  